<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>The Prototypes</mat-card-title>
      <mat-card-subtitle>Get Hype Records</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
          After an astonishing rise to fame DJ and production duo The Prototypes have rapidly become the most recognized name among the 'new breed' of drum and bass artists. Accredited as amongst the freshest and most exciting talents to emerge in recent years its no wonder that leading lights 'Shogun Audio' signed them up
          It needed to be a big release to follow up their huge anthem 'Cascade' but when the massive 'Born to Rise EP' dropped on Shogun in October 2011 it tore up the rule book on debut releases. Title track 'Born to rise' smashed raves worldwide and received support from the who's who of the bass music scene , and the anthemic 140 bpm old skool rave mash up 'Taking me over' received massive play on BBC Radio 1 from the likes of Zane Lowe and Annie Nightingale, proving that there is more depth to these boys than meets the eye. With all this going on its no surprise that remix work for The Prototypes came in the form of Snoop Dogg, Ed Sheeran, Avicii & Sebastien & Modestep...scoring them A-list play on no other than MTV's famous dance channel 'MTV Dance'.
      </p>

      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/480861&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </mat-card-content>
  </mat-card>