mat-list-item {
    background-color: rgba(0, 110, 140, 0.7);
    width: 70%;
    height: 40px;
    float: center;
    color: white;
}

mat-list {
    width: 70%;
    overflow: hidden; 
    position: relative;
    padding: 12px;
    margin: 12px;
    color: white;
}

.badge {
    padding: 10px;
}

.toolbar {
    background-color: rgba(0,192,222,1.0);
    color: white;
}