<div *ngIf="lat && lng">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
      </agm-marker>
    </agm-map> 
  <div>
<mat-card>
  <mat-card-content>
      It's easy getting to Varvara beach as there are plenty of cheap flight options to Burgas, and Varvara is less than 100km from it.Anyways, one would typically start his travel to Varvara from Burgas, so we assume you are familiar with getting there first. 
      If you happen to be between Burgas and Sinemoretz, and you are a group of people, you can use the dedicated BSF shuttle service covering this area. The shuttle has 6 places and costs are as follows : 

      55BGN from Burgas
      40BGN from Sozopol, Lozenets, Tsarevo
      30BGN from Sinemoretz and Ahtopol

      CALL: +359 89 8888888
    </mat-card-content>
    <section><button mat-button class="find-button" (click)="findAccomodation()">Find Accomodation</button></section>
    <section><button mat-button class="find-button" (click)="showGuide()">Full Travel Guide</button></section>
    </mat-card>