<mat-card class="info-card">
  <mat-card-content>
      TICKETS INFORMATION // Sale starts: 14 May 2018

      + Places to buy:
      EVENTIM.bg - Online & all the offices in Bulgaria
      4:20 Shop - 87 Vasil Levski bvd., Sofia
      BreakPoint - 72 Gurko str., Sofia
      
      + pre-sale prices:
      FULL FESTIVAL PROMO: 25 BGN / 13 Euro / 11 GBP (ONLY 100 tickets)
      FULL FESTIVAL STANDARD: 30 BGN / 15 Euro / 13 GBP (till 30 July 2018)
      FULL FESTIVAL LATE: 35 BGN / 18 Euro / 15 GBP (till 15 August 2018)
      ONE DAY PROMO TICKET: 15 BGN / 8 Euro / 7 GBP (200 tickets)
      
      + at the door / day
      FULL FESTIVAL TICKET: 40 BGN / 20 Euro / 18 GBP
      ONE DAY TICKET: 20 BGN / 10 Euro / 9 GBP
</mat-card-content>
<button mat-button class="buy-button" (click)="navigateToTickets()">Buy Tickets</button>
</mat-card>      