.header-height {
    height: 100px;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color:rgba(0,192,222,1.0);
    z-index: 999999;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    padding: 0 14px;
}

agm-map {
    height: 300px;
}

.card-width {
    max-width: 140px;
}

mat-icon{
    font-family: 'Material Icons' !important;
}

#background {
    position: absolute; 
    margin: auto; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    width: 100%;
    height: auto;
    z-index: -1;
}

  .video {
    margin: 0px auto;
    float: none;
    display: table;
  }