<div>
  <mat-card class="info-card">
    <div id="timer">
      <app-countdown-timer inputDate="August 16, 2018 12:00:00">Loading...</app-countdown-timer>
    </div>
    
    <mat-card-content>
      For a second year in a row the Bulgarian organisation H.M.S.U and the British label Formation Records unite their forces
      to bring a part of the elite at the global Drum & Bass scene to the Bulgarian Black Sea Coast. This year, the event
      will again take place at one of the most beautiful and still virgin beaches of our coastline – Wake-UP beach at Varvara.
      This year, Bass Sea will take place on 17, 18 and 19th of August. The program is promising to be more than just entertaining
      as it features more than 20 international guests and almost as many Bulgarian masters.
    </mat-card-content>

    <youtube-player class="video" [videoId]="id" [width]="700" [height]="450" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
  </mat-card>
</div>